header {
  width: 100%;
  background-color: #ff2e50;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);

  nav {
    background-color: #ff2e50;
    padding-left: 3rem;
    padding-right: 3rem;

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }

    .navbar-brand {
      img {
        max-width: 30px;
        height: auto;
        margin-right: .5rem;
      }

      @media screen and (max-width: 576px) {
        margin-right: 0;
      }
    }

    ul {
      li {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }

        a {
          color: #fff;
          transition: opacity ease-in-out .2s;

          &:hover {
            opacity: .9;
          }
        }
      }
    }
  }
}
